# Use the CPU-only version of PyTorch to save ~400MB of RAM
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio

# Core dependencies
fastapi
uvicorn
python-multipart
openai-whisper
transformers
requests
streamlit
